<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/get-form-data" method="post">
        <input type="text" name="name"  placeholder="enter useername">
        <input type="text" name="Email"  placeholder="enter Email">
        <input type="password" name="password"  placeholder="enter password">

        <button>Submit form</button>
        <script src="index.js"></script>


    </form>
</body>
</html>